hr {
    border: 1px solid #faf0e6;
}

div[class|='recipe'] {
    padding: .5rem;
}

span.recipe-stepName {
    background: linear-gradient(#f0fff0,#fdf5e6);
    padding-inline-end: 0.5rem;
}

div.misc-data {
    display: flex;
    flex-flow: row flex;
    gap: 1rem;
}

div[class|=recipe] {
    background: linear-gradient(#fffafa, 20%, #F8F8FF, 50%, #F8F8FF00);
}

figure.recipe-illus-img>img {
    width: 556px;
    aspect-ratio: 1.5;
}